<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.phone %}
        <div class="call-phone"><strong>Phone: </strong> {{ site.data.contact.phone }} </div>
    {% endif %}
    {% if site.data.contact.email %}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .site.data.contact.email }}">
        {{ site.data.contact.email }}
      </a>
    </div>
    {% endif %}
    {% if include.additionals | false %}
      {% if site.data.contact.linkedin %}
      <div class="call-additional"><strong>LinkedIn: </strong>
          <a href="{{ .site.data.contact.linkedin }}">
              {{ site.data.contact.linkedin }}
          </a>
      </div>
      {% endif %}
      {% if site.data.contact.twitter %}
      <div class="call-additional"><strong>X(Twitter): </strong>
          <a href="{{ .site.data.contact.twitter }}">
              {{ site.data.contact.twitter }}
          </a>
      </div>
      {% endif %}
      {% if site.data.contact.artstation %}
      <div class="call-additional"><strong>Art Station: </strong>
          <a href="{{ .site.data.contact.artstation }}">
              {{ site.data.contact.artstation }}
          </a>
      </div>
      {% endif %}
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="button">Contact</a>
      </div>
    {% endif %}
</div>
